.custom-swal {
    background-color: #222831;
    color: white;
}

.swal2-confirm {
    color: white !important;
    background-color: #1f2029 !important;
    border-radius: 1rem !important;
}

    .swal2-confirm:hover {
        opacity: 0.8;
        background-color: #222831;
        color: white;
        transition: 0.3s;
        border-radius: 1rem;
    }
